@import "./font-style.scss";
.main-content-chart {

    .chart-fdi-cls {
        background-color: #ffff !important;
        border: 1px solid #f95808;
        color: black !important;
        width: 80%;
      

        &.active {
            background-color: #f95808 !important;
            color: #fff !important;
            border: 1px solid #f95808;
            .icon-change-chart {
                background-color: #fff;
                color: #f95808;
                padding: 5px 20px;
                border-radius: 10px;
            }
        }

        .icon-change-chart {
            background-color: #f95808;
            color: #ffff;
            padding: 5px 20px;
            border-radius: 10px;
        }
    }

    .chart-fdi-op {
        background-color: #ffff !important;
        border: 1px solid #22d294;
        color: black !important;
        width: 80%;

        &.active {
            background-color: #22d294 !important;
            color: #fff !important;

            .icon-change-chart {
                background-color: #fff;
                color: #22d294;
                padding: 5px 20px;
                border-radius: 10px;
            }
        }

        .icon-change-chart {
            background-color: #22d294;
            color: #ffff;
            padding: 5px 20px;
            border-radius: 10px;
        }
    }

    #v-pills-tabContent{
        .title{
            font-size: 16px;
            font-family: "Roboto-Bold";
            color: #1f4e79;
        }
    }

}